<div>
    <div>
        <div>
        <h2>{{post.title}}</h2> <span>Posted by {{user.name}} on {{format_date date_created}}</span>
        </div>
        <form id="comment-update-form">
            <label>Comment:</label>
            <textarea id="update-comment" name="update-comment">{{content}}</textarea>
            <button type="submit" data-id="{{id}}" class="btn btn-primary">Update Comment</button>
        </form>
        <button data-id="{{id}}" id="delete">Delete</button>
    </div>
</div>
<script src="/js/comment.js"></script>