<div>
    <div class="bg-secondary mt-2" style="display:flex; justify-content:space-between ; border-radius: 5pt">
        <h2 class="p-3" >{{post.title}}</h2> <span class="p-3">Posted by {{user.name}} on {{format_date date_created}}</span>
    </div>
    <div class="mb-3 mt-3">
        <form id="comment-update-form" data-id="{{id}}" >
            <label for="update-comment" class="form-label">Comment:</label>
            <textarea class="form-control" id="update-comment" name="update-comment">{{content}}</textarea>
            <button type="submit"  class="mt-4 btn btn-secondary">Update Comment</button>
        </form>
        <button class= "mt-3 btn btn-danger" data-id="{{id}}" id="delete">Delete</button>
    </div>
</div>
<script src="/js/comment.js"></script>